[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TCHazaRds"]
	path = TCHazaRds
	url = https://github.com/ausclimateservice/tchazards
